epay-contract/src/main/resources/wsdl/epay-otp-ws-fe-1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="oneTimePayment" targetNamespace="http://epay.larinde.org/ws/otp/v1" xmlns:tns="http://epay.larinde.org/ws/otp/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:otp-ops="http://epay.larinde.org/operation/otp/v1">

	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="operations-otp-1.0.0.xsd" namespace="http://epay.larinde.org/operation/otp/v1" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="AuthorizePaymentRequest">
		<wsdl:part name="body" element="otp-ops:AuthorizeRequest" />
	</wsdl:message>
	<wsdl:message name="AuthorizePaymentResponse">
		<wsdl:part name="body" element="otp-ops:AuthorizeResponse" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePaymentRequest">
		<wsdl:part name="body" element="otp-ops:AcknowledgeRequest" />
	</wsdl:message>
	<wsdl:message name="AcknowledgePaymentResponse">
		<wsdl:part name="body" element="otp-ops:AcknowledgeResponse" />
	</wsdl:message>
	<wsdl:message name="CapturePaymentRequest">
		<wsdl:part name="body" element="otp-ops:CaptureRequest" />
	</wsdl:message>
	<wsdl:message name="CapturePaymentResponse">
		<wsdl:part name="body" element="otp-ops:CaptureResponse" />
	</wsdl:message>
	<wsdl:message name="otpFault">
		<wsdl:part name="body" element="otp-ops:OneTimePaymentFault" />
	</wsdl:message>


	<wsdl:portType name="OtpPaymentEndPoint">
		<wsdl:operation name="Authorize">
			<wsdl:input message="tns:AuthorizePaymentRequest" />
			<wsdl:output message="tns:AuthorizePaymentResponse" />
			<wsdl:fault name="otpFault" message="tns:otpFault" />
		</wsdl:operation>
		<wsdl:operation name="Acknowledge">
			<wsdl:input message="tns:AcknowledgePaymentRequest" />
			<wsdl:output message="tns:AcknowledgePaymentResponse" />
			<wsdl:fault name="otpFault" message="tns:otpFault" />
		</wsdl:operation>
		<wsdl:operation name="Capture">
			<wsdl:input message="tns:CapturePaymentRequest" />
			<wsdl:output message="tns:CapturePaymentResponse" />
			<wsdl:fault name="otpFault" message="tns:otpFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="OtpPaymentEndPointBinding" type="tns:OtpPaymentEndPoint">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Authorize">
			<soap:operation soapAction="http://epay.larinde.org/ws/otp/v1/Authorize" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="otpFault">
				<soap:fault name="otpFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Acknowledge">
			<soap:operation soapAction="http://epay.larinde.org/ws/otp/v1/Acknowledge" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="otpFault">
				<soap:fault name="otpFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Capture">
			<soap:operation soapAction="http://epay.larinde.org/ws/otp/v1/Capture" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="otpFault">
				<soap:fault name="otpFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="OtpPaymentService">
		<wsdl:port name="OtpPaymentPort" binding="tns:OtpPaymentEndPointBinding">
			<soap:address location="http://localhost:8080/pamentplatform/OtpPaymentService" />
		</wsdl:port>
	</wsdl:service>






</wsdl:definitions>
